<%= stylesheet_link_tag "index.css" %>

<% content_for :javascript do %>
    <script type="text/javascript">
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({
          title: "Home",
          icon: "<%= asset_path('favicon.ico') %>"
        });
      });
    </script>
  <% end %>
  
<body>
  <div id = "outer_div">
      <div id ="product_panel">
        <div id="product_panel_inner">

<%= form_tag("/index", method: "get") do %>
          <div id = "search_block1">
            <%= submit_tag("Search") %>
  <%= text_field_tag(:keyword, params[:keyword]) %>
            &ensp;&ensp;
          </div>
          <div id="search_block2">
            <%= label_tag(:collection,"Collections:") %>
  <%= select_tag(:collection,options_for_select(@collections.map {|collect| [collect.title,collect.id]},params[:collection]),{:include_blank => 'None'}) %>  
            &ensp;&ensp;    
            <%= label_tag(:type,"Type:") %>
            <%= select_tag(:type,options_for_select(@types),{:include_blank => 'None'}) %>
          </div>
        <% end %>

        <div id="product_table">
          <table>
            <tr>
              <th>Product</th>
              <th>Name</th>
              <th>Type</th>
              <th>Matches</th>
            </tr>
            
            <% @products.each do |product| %>
              <tr>
                
        <% if product.images.any? %>
          <td>
            <img src = "<%= product.images[0].src %>" alt = "<%= product.title %>" style = "width:50px;height:50px;" >
          </td> 
        <% else %>
          <td>
            <img src = "/images/not_avlbl.png" alt = "<%= product.title %>" style = "width:50px;height:50px;" >
          </td>
        <% end %>
                  
                <td>
                  <%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %>
                </td> 
                  
                <td>
                  <%=
                    if product.product_type.nil? || product.product_type.empty?
                      "None"
                    else
                      product.product_type
                    end       
                  %>
                </td>
                
                <td>
                  <a href="#" onclick="newModal('<%= rec_modal_url %>','Recomendations for <%=product.title%>',250,75)">
                    <%=get_number_of_matches(product.id)%>
                  </a>
                </td> <!--This will be the number of matches found for the product-->
              </tr>
            <% end %>
            
          </table>
        </div
      </div>
    </div>
  </div>
</body>



